/* App.css */

/* Ensure no margin or padding on body and html */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1E1E2C; /* Match the background color of your main content area */
    overflow: hidden; /* Prevent scrollbars from appearing */
  }
  
  /* Additional global styles if needed */
  